.Codility
    h1 Codility Solutions by JavaScript
    h3 Trend technology
    ol
      li
         p TrendSolution1 error correction question(python)
      li
         p TrendSolution2 Form Validation
      li
         p TrendSolution3  select nested ul/ol list
    hr
    
    h3 Lesson 1 - Iterations
    ol
      li
        a(href='https://app.codility.com/demo/results/training9XUNST-3CQ/' target="_blank") BinaryGap
        em [100%]
    hr
    h3 Lesson 2 - Arrays
    ol
      li
        a(href='https://app.codility.com/demo/results/trainingQMA3FV-T2F/' target="_blank") CyclicRotation
        em [100%]
      li
        a(href='https://app.codility.com/demo/results/trainingCJTKHF-6Q9/' target="_blank") OddOccurrencesInArray1
        em [100%]
        br
        a(href='https://app.codility.com/demo/results/trainingQR5S66-FWN' target="_blank") OddOccurrencesInArray2
        em [55%]
        br
        a(href='https://app.codility.com/demo/results/trainingTF3HRQ-NM2/' target="_blank") OddOccurrencesInArray3
        em [100%]
        br

    hr
    h3 Lesson 3 - Time Complexity
    ol
      li
        a(href='https://app.codility.com/demo/results/training6WVD28-Z3Y/' target="_blank") FrogJmp
        em [100%]
        br
      li
        a(href='https://app.codility.com/demo/results/training4NY26W-G3D/' target="_blank") PermMissingElem
        em [100%]
        br
      li
        a(href='https://app.codility.com/demo/results/trainingK46UY6-UHA/' target="_blank") TapeEquilibrium
        em [100%]
        br
    hr
    h3 Lesson 4 - Counting Elements
    ol
      li
        a(href='' target="_blank") PermCheck
        em []
        br
      li
        a(href='https://app.codility.com/demo/results/training7KCKSE-KV4/' target="_blank") FrogRiverOne
        em [100%]
        br
      li
        a(href='' target="_blank") MaxCounters
        em []
        br
      li
        a(href='' target="_blank") MissingInteger
        em []
        br
      
    hr

.Leetcode
    h1 Leetcode Solutions by JavaScript 
    ul
      li
        a(href='https://leetcode.com/submissions/detail/205266708/' target="_blank")  [1] Two Sum
      li
        a(href='https://leetcode.com/submissions/detail/209318606/' target="_blank")  [2]Add Two Numbers 
      li
        a(href='https://leetcode.com/submissions/detail/208037387/' target="_blank") [7] Reverse Integer
        a(href='https://codepen.io/tcssh611503/pen/aXWyEj?editors=0010' target="_blank")  （其他各種解法）
      li
        a(href='https://leetcode.com/submissions/detail/457617600/' target="_blank")  [9]Palindrome Number    
        
      li
        a(href='https://leetcode.com/submissions/detail/457801288/' target="_blank")  [13]	Roman to Integer         
      li
        a(href='https://leetcode.com/submissions/detail/208010166/' target="_blank")  [344] Reverse String (rakuten)
        
      li
        a(href='https://leetcode.com/submissions/detail/457889760/' target="_blank")  [367] Valid Perfect Square (rakuten)
        
      li
        a(href='https://leetcode.com/submissions/detail/457973312/' target="_blank")  [371] Sum of Two Integers (rakuten)
        
        
        

    
    